@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + ".ttf");
    font-weight: $weight;
    font-style: $style;
  }
}

/* Define the mixin */
@mixin fluid-typography($minFont, $maxFont, $minBreakpoint, $maxBreakpoint) {
  font-size: calc(
    #{$minFont}px + (#{$maxFont} - #{$minFont}) * (100vw - #{$minBreakpoint}px) /
      (#{$maxBreakpoint} - #{$minBreakpoint})
  );
}
